[submodule "Lebowski"]
	path = Lebowski
	url = http://github.com/FrozenCanuck/Lebowski.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = http://github.com/sproutcore/sproutcore.git
[submodule "frameworks/jasmine-sproutcore"]
	path = frameworks/jasmine-sproutcore
	url = git://github.com/concord-consortium/jasmine-sproutcore.git
[submodule "frameworks/raphael_views"]
	path = frameworks/raphael_views
	url = http://github.com/rklancer/RaphaelViews.git
