[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = http://github.com/sproutit/sproutcore.git
[submodule "frameworks/scui"]
	path = frameworks/scui
#	url = http://github.com/etgryphon/sproutcore-ui.git
# url = git@github.com:concord-consortium/sproutcore-ui.git
  url = http://github.com/concord-consortium/sproutcore-ui.git
[submodule "capybara-testrunner"]
	path = capybara-testrunner
	url = http://github.com:concord-consortium/capybara-testrunner.git
[submodule "Lebowski"]
	path = Lebowski
	url = http://github.com/FrozenCanuck/Lebowski.git
