.sc-text-field-view .sc-hint{top:0;left:0;right:0;bottom:0;}.sc-text-field-view textarea,.sc-text-field-view input{white-space:pre-wrap;overflow:hidden;}
.sc-label-view.forms-label{white-space:pre-wrap;}.sc-form-row-view{overflow:visible;}
.sc-form-field-view{overflow:visible;}.sc-radio-button .sc-button-label{white-space:pre;}