/* BEGIN changes for RaphaelViews */

.diagram-background {
  background-color: white;
}

/* END   changes for RaphaelViews */

/* Terminal colors*/
.terminal {
  border: 2px solid rgba(255, 255, 255, 0);
  opacity: 0.5;

  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.75);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.75);

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.input {
  background-color: #dddddd;
}
.output {
  background-color: #dddddd;
}

.terminal:hover {
  opacity: 1;
}

/* Invites */
.invite {
  opacity: 1;
  border: 2px solid rgba(255, 255, 0, .5);
}

.accept {
  background-color: green;
  border: 2px solid rgba(255, 255, 0, 1);
}

/* Nodes */
.node {
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}
.node_content {
  border: 2px solid rgba(112, 255, 255, 0);
  background-color: #aaaaaa;
  opacity: 0.3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  -moz-box-shadow: 0px 4px 2px rgba(0,0,0,.75);
  -webkit-box-shadow: 0px 4px 2px rgba(0,0,0,.75);
}

.node.addbutton {
  margin: 0px 10px 10px 20px;
  width: 100px;
}

.node.selected {
  border: 2px solid #ADD8E6;
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,.25);
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,.25);
}

.sentence-linking .node {
  border: 1px dotted #ccc;
  -moz-box-shadow: 0px 2px 2px rgba(80,80,80,.1);
  -webkit-box-shadow: 0px 2px 2px rgba(80,80,80,.1);
}

.sentence-linking .node_content {
  /* This CSS isn't actually used in either version */
}

.sentence-linking .node .sc-view {
  opacity: 0.5;
}

.sentence-linking .node.selected {
  border: 1px solid rgba(0,0,0,.2);
}

.sentence-linking .node.selected .sc-view {
  opacity: 1;
}

.sentence-linking .node.selected .sc-view.terminal {
  opacity: 0.5;
}

/* SentenceLinkPane editor */
.sentence-connect-pane {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}

/* Properties editor */
.property-editor {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}

.property-editor .sc-button-view.capsule {
  border: 1px solid #444;
}

.property-editor>.sc-view {
  margin: 5px;
}

.property-editor>.sc-view {
  margin: 5px;
}

.property-editor .sc-checkbox-view {
  width: 14px;
}

.property-editor .sc-checkbox-view.sel {
  border: 1px solid #000;
  background-color: #666;
}

.property-editor label.sc-radio-button {
  font-weight: bold;
  color: #fff;
}

.disabled .sc-button-label {
  color: #666;
}

.sc-button-view.sel {
  border: 2px solid #aa3333;
}

/* Transformation builder */
.energy-type .transformation-terminal {
  border: 2px solid #333;
  background-color: #ACEE75;
}

/* Modal panels */
.sc-modal {
  background: #000;
  opacity: 0.2;  
}

/* save status */
.save_clean_class {
	font-size: 9px;
	color: #000;
}
.save_dirty_class {
	font-size: 9px;
	color: #730C0C;
}

.deletelink {
  color: blue;
  text-decoration: underline;
}

.sumbissions_feedback_label {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
  color: blue;
}
.feedbackpaelletcontent {
  overflow: hidden;
}
.feedbackpaelletcontent .sumbission_info {
  color: #222;
  display: block;
  clear: both;
  font-size: 15px;
  font-weight: bold;
  margin: 1em;
}
.feedbackpaelletcontent  .last_feedback{
  color: #222;
  font-size: 13px;
  display: block;
  margin: 1em;
}

