/* Terminal colors*/
.terminal {
  border: 2px solid rgba(255, 255, 255, 0);
  opacity: 0.5;

  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.75);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.75);

  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.input {
  background-color: #ffaaaa;
}
.output {
  background-color: #aaffaa;
}

.terminal:hover {
  opacity: 1;
}

/* Invites */
.invite {
  opacity: 1;
  border: 2px solid rgba(255, 255, 0, 128);
}

.accept {
  background-color: green;
  border: 2px solid rgba(255, 255, 0, 255);
}

/* Nodes */
.node {
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}
.node_content {
  border: 2px solid rgba(112, 255, 255, 0);
  background-color: #aaaaaa;
  opacity: 0.3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  -moz-box-shadow: 0px 4px 2px rgba(0,0,0,.75);
  -webkit-box-shadow: 0px 4px 2px rgba(0,0,0,.75);
}

.node.selected {
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,.25);
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,.25);
}

.sentence-linking .node {
  border: 1px dotted #ccc;
  -moz-box-shadow: 0px 2px 2px rgba(80,80,80,.1);
  -webkit-box-shadow: 0px 2px 2px rgba(80,80,80,.1);
}

.sentence-linking .node_content {
  /* This CSS isn't actually used in either version */
}

.sentence-linking .node .sc-view {
  opacity: 0.5;
}

.sentence-linking .node.selected {
  border: 1px solid rgba(0,0,0,.2);
}

.sentence-linking .node.selected .sc-view {
  opacity: 1;
}

.sentence-linking .node.selected .sc-view.terminal {
  opacity: 0.5;
}

/* Properties editor */
.property-editor {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}

.property-editor>.sc-view {
  margin: 5px;
}

/* SentenceLinkPane editor */
.sentence-connect-pane {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.1);
}

.property-editor>.sc-view {
  margin: 5px;
}

.property-editor .sc-checkbox-view {
  width: 14px;
}

.property-editor .sc-checkbox-view.sel {
  border: 1px solid #000;
  background-color: #666;
}

.disabled .sc-button-label {
  color: #666;
}

.sc-button-view.sel {
  border: 2px solid #aa3333;
}