<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="images/00_my_system_sproutcore-logo.png" />
    <link rel="apple-touch-startup-image" media="screen and (orientation:portrait)" href="images/00_my_system_sproutcore-startup-portrait.png" /> 
    <link rel="apple-touch-startup-image" media="screen and (orientation:landscape)" href="images/00_my_system_sproutcore-startup-landscape.png" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    
    <title><%= @project_title %> </title>
    <script type="text/javascript">

      var mysystem;
    
      function loadContentAfterScriptsLoad(node) {
        var el = document.body ;
        if (!el) { return ; }
        var browser, platform, shadows, borderRad, classNames, style;
        browser = SC.browser.current ;
        platform = SC.browser.windows ? 'windows' : SC.browser.mac ? 'mac' : 'other-platform' ;
        style = document.documentElement.style;
        shadows =   ( style.MozBoxShadow !== undefined) ||
                    ( style.webkitBoxShadow !== undefined) ||
                    ( style.oBoxShadow !== undefined) ||
                    ( style.boxShadow !== undefined);
        borderRad = ( style.MozBorderRadius !== undefined) ||
                    ( style.webkitBorderRadius !== undefined) ||
                    ( style.oBorderRadius !== undefined) ||
                    ( style.borderRadius !== undefined);
        classNames = el.className ? el.className.split(' ') : [] ;
        if(shadows)                         { classNames.push('box-shadow');}
        if(borderRad)                       { classNames.push('border-rad'); }
        classNames.push(browser) ;
        classNames.push(platform) ;
        if (parseInt(SC.browser.msie,0)==7) { classNames.push('ie7') ; }
        if (SC.browser.mobileSafari)        { classNames.push('mobile-safari') ; }
        if ('createTouch' in document)      { classNames.push('touch'); }
        el.className = classNames.join(' ') ;


        if ((typeof SC !== 'undefined') && SC && SC.bundleDidLoad) { SC.bundleDidLoad('sproutcore/bootstrap'); }
        // TODO: PART OF WISE4 
        template = new MySystemSCNode(node);
            template.render();
          };

          function loadContent(node) {

            scriptloader.loadScripts('template', document, node.id, eventManager);
          };

          /*
           * This is called when the student clicks on the save button below in the body
           */
          function save() {
          }
    </script>

<div id="loading">
<p class="loading">Loading...<p>


</div>
  <!--<script type="text/javascript" src="js/00_my_system_javascript-packed.js"></script>-->
  <!--<script type="text/javascript" src="js/00_my_system_javascript.js"></script>-->
  <!--<script type="text/javascript" src="js/01_my_system_javascript.js"></script>-->
  </body>
</html>
